.body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: url(Images/Background.jpg);
    background-color: white;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.heading {
    font-size: 80px;
    text-align: center;
    font-weight: 600;
}

.tbody {
    align-items: center;
}

section.fixed {
    position: relative;
    border: 1px solid #000;
    padding-top: 37px;
    background: lightgray;
}

.fixed .wrap {
    overflow-y: auto;
    height: 800px;
}

.fixed table {
    border-spacing: 0;
    width: 100%;
}

.fixed td+td {
    border-left: 1px solid #000;
}

.fixed td, .fixed th {
    border-bottom: 1px solid #000;
    background: #f3fbfc;
    color: #000;
    padding: 10px 25px;
    align-items: center;
}

.fixed th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.fixed th div {
    position: absolute;
    color: black;
    padding: 9px 25px;
    top: 0;
    margin-left: -25px;
    line-height: normal;
    border-left: 1px solid black;
}